.logo{
  height: 80px;
  width: 80px;
  
}


.navbar li{
  display:inline-block;
  
}
.navbar{
  background-color: #F5E5D7 !important;
}
.nav-link{
  font-size: large;
  font-weight: bold;
}
.navbar a {
  color: black !important;
}